<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Política de Privacidad - Rifas Milo Fecha de entrada en vigencia: Abril
      2025 En Rifas Milo respetamos la privacidad de nuestros usuarios y estamos
      comprometidos con la protección de sus datos personales conforme a lo
      establecido en la ley venezolana y buenas prácticas internacionales.
      <br />
      <br />
      <br />
      1. Información recopilada Al momento de realizar una compra, recopilamos
      información personal como: Nombre completo Cédula o documento de identidad
      Teléfono Correo electrónico Esta información es necesaria para la correcta
      gestión del sorteo y la identificación del ganador.
      <br />
      <br />
      <br />
      2. Uso de los datos Utilizamos sus datos personales con los siguientes
      fines: Gestionar la participación en las rifas Notificar al ganador
      Cumplir con obligaciones legales Comunicarnos ante cualquier eventualidad
      relacionada con el servicio
      <br />
      <br />
      <br />
      3. Conservación de la información Los datos serán almacenados de forma
      segura por el tiempo necesario para cumplir los fines mencionados y de
      acuerdo con los plazos legales vigentes.
      <br />
      <br />
      <br />
      4. Seguridad de los datos Aplicamos medidas de seguridad razonables para
      proteger la información contra accesos no autorizados, manipulación o
      pérdida.
      <br />
      <br />
      <br />
      5. Divulgación a terceros Rifas Milo no venderá ni cederá sus datos
      personales a terceros, salvo que: Sea requerido por una autoridad legal
      competente Sea necesario para el cumplimiento de obligaciones fiscales o
      legales
      <br />
      <br />
      <br />
      6. Derechos del usuario Usted puede solicitar en cualquier momento: Acceso
      a sus datos Corrección de datos erróneos Eliminación de sus datos
      personales de nuestro sistema Para ejercer estos derechos, debe escribir
      a: rifasmilo@gmail.com.
      <br />
      <br />
      <br />
      7. Cambios en esta política Nos reservamos el derecho de actualizar esta
      Política de Privacidad. La versión más reciente estará disponible en
      nuestro sitio web y será efectiva desde su publicación. Gracias por
      confiar en Rifas Milo.
    </p>
  </body>
</html>
