{% extends "index.html" %} 
{% load static %}
{% block content %}

{% with vehiculos|first as vehiculo %}
<h1 class="title titulo-atrapante ">{{ vehiculo.rifa.title }}</h1>
<div id="myCarousel" class="carousel slide w-100 mt-5" >
  <div class="carousel-inner">
    <div class="carousel-item active">
        {% if vehiculo.rifa.activa %}
          <img src="{{ vehiculo.img_p.url }}" class="d-block w-100 h-100 object-fit-cover" alt="{{ vehiculo.nombre }}">
        {% else %}
          <img src="{% static 'img-not-found.png' %}" class="d-block w-100 h-100 object-fit-cover" alt="Imagen no disponible">
        {% endif %}
    </div>
  </div>
</div>

<!-- Contenido textual separado -->
<div class="container text-center py-5">
  <h1>¡Bienvenido!</h1>
  <p>
    {% if vehiculo.rifa.activa %}
      <strong>Esta hermosa {{ vehiculo.nombre }} {{vehiculo.ano}}</strong>  <br>

      Se sorteara el dia: {{ vehiculo.rifa.fecha_sorteo|date:"d/m/Y" }}
    {% else %}
      Actualmente no hay rifas activas.
    {% endif %}

  </p>
    {% endwith %}

  <p><a class="btn btn-lg golden-button2" href="{% url 'cliente' %}">Comenzar A Participar</a></p>
</div>


<div id="slider-img" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-interval="3000">
  <!-- Indicadores dinámicos -->
  <div class="carousel-indicators">
    {% for im in imagenes %}
      <button type="button" data-bs-target="#slider-img" data-bs-slide-to="{{ forloop.counter0 }}"
        class="{% if forloop.first %}active{% endif %}" aria-current="{{ forloop.first|yesno:'true,false' }}"
        aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>

  <!-- Slides -->
  <div class="carousel-inner">
    {% if imagenes %}
      {% for im in imagenes %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <p>{{ im.imagen.url }}</p>
          <img src="{{ im.imagen }}" class="d-block w-100 object-fit-cover" alt="Imagen {{ forloop.counter }}" style="max-height: 90vh; object-fit: cover; border-radius: 1rem;">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="carousel-item active">
        <img src="{% static 'img-not-found.png' %}" class="d-block w-100 object-fit-cover" style="max-height: 90vh; border-radius: 1rem;" alt="Sin imágenes disponibles">
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>No hay imágenes disponibles.</h1>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#slider-img" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slider-img" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
<div>
  <p class="text-center"> 
    {% with vehiculos|first as vehiculo %}
    {% if vehiculo.rifa.activa %}

    {{ vehiculo.modelo }}<br>
    {{ vehiculo.marca }}<br>
    {{ vehiculo.rifa.descripcion }}<br>
    {% else %}
    Actualmente no hay rifas activas.
    {% endif %}
    {% endwith %}
  </p>
  <h1 class="title text-center">¿Por qué elegirnos?</h1>
  <p class="text-center">¡Porque somos la mejor opción para hacer tus sueños realidad!</p>

  
</div>
<div class="container-fluid mt-5 d-flex justify-content-center align-items-center flex-wrap flex-column" >
   <!-- From Uiverse.io by Spacious74 --> 
  <a href="{% url 'cliente' %}" class="golden-button2">
                  <span class="golden-text">Comenzar la compra de boletos</span>
                </a>
</div>
{% endblock content %}
